.plot {
  --hue: 15;
  --saturation: 60%;
  --level: 90%;
  --opacity: 50%;
  display: flex;
  flex-direction: row;
  padding: 0.8em 1.2em;
  color: hsl(185, 40%, 25%);
  /* background-color: hsla(var(--hue), var(--saturation), var(--level), var(--opacity)); */
}

.plot--container {
  display: flex;
  flex-direction: column;
}

.plot--container h3 {
    color: #2f5926;
}

.plot--controls {
    display: flex;
    flex-direction: row;
}

.plot--chart {
  --level: 100%;
  color: #2f5926;
  /* background-color: hsla(var(--hue), var(--saturation), var(--level), var(--opacity)); */
}

.plot--description {
    --hue: 180;
  --level: 5%;
  color: hsla(var(--hue), var(--saturation), var(--level), var(--opacity));
  font-size: 0.9em;
}

.plot--code {
  --level: 100%;
  color: #2f5926;
  background-color: hsla(var(--hue), var(--saturation), var(--level), var(--opacity));
}

.leaflet-map {
  height: 380px;
}
:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    --hue: 15;
    --saturation: 60%;
    --level: 90%;
    --opacity: 50%;  
    font-family: Helvetica, Arial, sans-serif;
    background-color: hsla(var(--hue), var(--saturation), var(--level), var(--opacity));
}

body * + * {
    margin-top: 1.5em;
}

header {
    margin: 1.2em;
    /* border: 1px solid red; */
}

aside {
    margin: 1.2em;
    float: left;
    /* border: 1px solid black; */
}

main {
    --saturation: 100%;
    --level: 100%;
    --opacity: 50%;  
    max-width: 1200px;
    margin: auto;
    background-color: hsla(var(--hue), var(--saturation), var(--level), var(--opacity));
}


