:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    --hue: 15;
    --saturation: 60%;
    --level: 90%;
    --opacity: 50%;  
    font-family: Helvetica, Arial, sans-serif;
    background-color: hsla(var(--hue), var(--saturation), var(--level), var(--opacity));
}

body * + * {
    margin-top: 1.5em;
}

header {
    margin: 1.2em;
    padding: 2em 1em;
}

aside {
    --hue: 202;
    --saturation: 91%;
    --level: 21%;
    --opacity: 50%;
    background: hsla(var(--hue), var(--saturation), var(--level), var(--opacity));    
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 2em 1em;
    transition: all 0.5s ease;    
}

main {
    --saturation: 100%;
    --level: 100%;
    --opacity: 50%;  
    max-width: 1200px;
    margin: auto;
    margin-left: 225px;
    background-color: hsla(var(--hue), var(--saturation), var(--level), var(--opacity));
}

